
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.container{
	max-width: 90%;
	margin: auto;
}
/*Background*/
body{
	background-image: url(../img/purple_hex.png);
	background-position: center;
	background-repeat: no-repeat;
	background-origin: content-box;
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
	z-index: 0;
}
.bg{
	position: absolute;
	background: #000000B5;
	width: 100%;
	height: 100vh;
	z-index: 0;
}

/*Nav*/
.nav{
	display: grid;
	grid-template-columns: 60% 40%;
}
.nav ul li{
	display: inline;

}
.nav ul li a{
	color: #fff;
	line-height: 60px;
	padding: 10px 13px;
	text-decoration: none;
	border-radius: 5px;
	transition: .5s ease;
	font-size: 19px;
}
.nav ul li a:hover{
	background: #0026FF55;
}
.nav h1{
	color: #fff;
	line-height: 60px;
}

.head{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 8%;
	padding-left: 18%;
}
.head2{
	color: #fff;

}
.head2 div .sh{
	width: 30%;
	margin: 15px 34%;
	padding: 15px 16px;
	box-shadow: 0 0 10px 3px #fff;
	
	border-radius: 10px;
}
.head2 div .sh{
	font-size: 20px;
}

.inp, .inp1{
	padding: 13px 20px;
	border-radius: 10px;
	border: 2px solid #0C137D59 ;
	cursor: pointer;
	background: none;
	color: #fff;
	font-size: 19px;
	transition: .5s ease;
	text-decoration: none;
	text-align: center;

}
.inp:hover,.inp1:hover{
	transition: .5s;
	background: #00478F9A;
	text-decoration: none;
}

.head p{
	width: 50%;
	font-family: none!important;
	color: #A5A5A562;
}
.input{
	border: 1px solid #fff!important;
	padding: 10px 20px;
	border-radius: 5px;
	width: 100%;
	outline: none;
	box-shadow:0 0 2px 1px #fff;

}
.inp1{
	width: 100px;
	border-right: none;
	border:none;

}
.inph:hover .inp1{
	width: 100%;
}
.inph{
	width: 100%;
	border: 1px solid #0B0F9878 ;
	border-radius: 10px;
	cursor: pointer;
}
label{
	font-size: 18px;
}

.result{
	width: 100%;
	height: 100vh;
	background: #1616169C;
	position: absolute;
	top:0;

}
.hidden{
	display: none;
}
.card-r{
	width: 60%;
	height: 80%;
	border: 1px solid #004A7FFF;
	margin: 5% 20%;
	background: #253845FF;
	border-radius: 10px;
	padding: 10px 20px;
	box-shadow: 0 0 8px 2px #fff;
	overflow: hidden;

}
.r-r{
	display: flex;justify-content: center;align-items: center;
}
.r-n{
	margin: 15% 15%;
	border-radius: 10px;
	padding:5px 10px;
	box-shadow: 0 0 5px 4px #08A5B5DB ;
	color: #fff;
	width: 50%;
	font-size: 50px;
	line-height: 100px;
	text-align: center;

}
.closeBtn{
	cursor: pointer;
	font-size: 18px;
	padding: 8px 20px;
	transition: 1s ease;
	border-radius: 10px;
	color: #fff;
	animation: btn-anim 1s infinite;
	box-shadow: 0 0 5px 3px #08A5B5DB ;
	border-left:3px solid #fff;
	border-top:3px solid #fff;
	border: 5px solid #08A5B5DB;
	position: absolute;bottom:15%;right: 47%;
}
.closeBtn:hover{
	border-radius: 50%;
	background: #08A5B5DB;
	box-shadow: 0 0 10px 4px #08A5B5DB ;
	animation: none;

}
@keyframes btn-anim{
	0%{
		border-left:5px solid #08A5B5DB;
		border-top:5px solid #08A5B5DB;
		border-bottom:5px solid #fff;
		border-right:5px solid #fff;
	}
	25%{
		border-left:5px solid #fff;
		border-top:5px solid #08A5B5DB;
		border-bottom:5px solid #fff;
		border-right:5px solid #08A5B5DB;
	}50%{
		border-left:5px solid #fff;
		border-top:5px solid #fff;
		border-bottom:5px solid #08A5B5DB;
		border-right:5px solid #08A5B5DB;
	}75%{
		border-left:5px solid #08A5B5DB;
		border-bottom:5px solid #08A5B5DB;
		border-top:5px solid #fff;
		border-right:5px solid #fff;
	}
	
}
.li-r{
	font-size: 100px!important;
	align-items: center;
	padding: 10px 20px;
	border:none;
	font-weight: bolder!important;
}
.center{
	align-items:center;
}
.scroll .resh{
	color: #fff;
	font-family: sans-serif;
	font-size: 25px!important;
	text-align: center;
	margin-top: 15px;
}





